<div class="container page-container">
  
    <div class="col s12 m8">
      <h5 class="center-align-on-small">About Me</h5>
      <p class="center-align-on-small">
        Je suis un développeur Full Stack passionné par les technologies innovantes et les projets collaboratifs. Diplômé d’un BAC +4 en Conception et Développement d’Applications, je me spécialise dans le back-end (Java, Spring, Quarkus) tout en renforçant mes compétences en front-end (Angular, Materialize).
      </p>
      <p class="center-align-on-small">
        Lors de ma formation et d’un stage de 3 mois dans le secteur immobilier, j’ai consolidé mes compétences en méthode Agile, API REST et architecture microservices. J’ai contribué à des solutions complexes, incluant un microservice d’authentification sécurisé (hashing, JWT, 2FA) et des interfaces ergonomiques pour des applications web avec Angular et Materialize.
      </p>
      <p class="center-align-on-small">
        En parallèle, j’ai exploré des domaines connexes à travers des cours en ligne, comme un MOOC en Python et le cours Google AI Essentials. Toujours motivé par l’apprentissage continu, je cherche à relever de nouveaux défis pour développer des solutions performantes et utiles.
      </p>
    </div>
</div>

<div class="container timeline-container">
  <h5 class="center-align">Formation</h5>
  <ul class="timeline">
    <li class="timeline-item">
      <h6>Actuellement en recherche d’alternance pour un Bac +5</h6>
      <p>
        Formation prévue en Développement Full Stack, axée sur Java et Spring, avec un rythme de 4 jours en entreprise et 1 jour en formation.
        Mon objectif est de perfectionner mes compétences techniques tout en contribuant activement à des projets innovants.
      </p>
    </li>
    <li class="timeline-item">
      <h6>Stage fin d'etude</h6>
      <p>
        Stage effectué dans une entreprise du secteur immobilier.
        Consolidation des compétences en méthode Agile, API REST, et architecture microservices.
        Contribution à un projet d'application immobilière intégrant Spring et Angular.
      </p>
    </li>
    <li class="timeline-item">
      <h6>Concepteur Développeur d’Applications (Bac +4)</h6>
      <p><strong>AFPA Lille</strong> | 2023 - 2024</p>
      <p>Formation spécialisée dans le développement d’applications web et logicielles. 
        Focus sur les technologies back-end (Java, Spring, Quarkus). 
        Réalisation de projets pratiques intégrant des principes de sécurité (JWT, 2FA) et d’ergonomie.
      </p>
    </li>
  </ul>
</div>