<div class="container page-container" aria-labelledby="about-title">
  <div class="col s12 m8">
    <h5 id="about-title" class="center-align-on-small">{{ 'about.title' | translate }}</h5>
    
    <p class="center-align-on-small" [attr.aria-label]="'about.first_paragraph' | translate">
      {{ 'about.first_paragraph' | translate }}
    </p>

    <p class="center-align-on-small" [attr.aria-label]="'about.second_paragraph' | translate">
      {{ 'about.second_paragraph' | translate }}
    </p>

    <p class="center-align-on-small" [attr.aria-label]="'about.third_paragraph' | translate">
      {{ 'about.third_paragraph' | translate }}
    </p>

    <p class="center-align-on-small" [attr.aria-label]="'about.fourth_paragraph' | translate">
      {{ 'about.fourth_paragraph' | translate }}
    </p>

    <p class="center-align-on-small" [attr.aria-label]="'about.fifth_paragraph' | translate">
      {{ 'about.fifth_paragraph' | translate }}
    </p>
    
  </div>
</div>