<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">
          Réalisé avec 💖 par Matteo
        </p>
      </div>
      <div class="col l6 s12">
        <ul class="quick-links">
          <li><a class="grey-text text-lighten-3" (click)="goToPage('/home')">Accueil</a></li>
          <li><a class="grey-text text-lighten-3" (click)="goToPage('/about')">À propos</a></li>
          <li><a class="grey-text text-lighten-3" (click)="goToPage('/skills')">Compétences</a></li>
          <li><a class="grey-text text-lighten-3" (click)="goToPage('/projects')">Projets</a></li>
        </ul>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/XXX/" target="_blank" aria-label="LinkedIn">
            <img src="../../../assets/images/home/linkedin.webp" alt="LinkedIn" class="icon-link">
          </a>
          <a href="https://github.com/XXX/" target="_blank" aria-label="GitHub">
            <img src="../../../assets/images/home/github.webp" alt="GitHub" class="icon-link">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2024 - Tous droits réservés
    </div>
  </div>
</footer>