.page-footer {
  background-color: var(--color-primary);
  color: white;
  padding: 20px 0;
}

.page-footer .container {
  max-width: 1200px;
  margin: auto;
}

.page-footer p {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}

.quick-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  flex-wrap: wrap;
}

.quick-links li a {
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.quick-links li a:hover,
.quick-links li a:focus {
  color: white;
  text-decoration: underline;
}

.footer-copyright {
  background-color: #2c3e50;
  padding: 10px 0;
  font-size: 0.9rem;
  text-align: center;
}

.social-links {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.icon-link {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}

.icon-link:hover,
.icon-link:focus {
  transform: scale(1.2);
  background-color: var(--color-secondary-hover);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1024px) {
  .page-footer .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .page-footer .col {
    width: 100%;
    margin-bottom: 20px;
  }

  .quick-links {
    justify-content: center;
  }

  .footer-buttons {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .social-links {
    flex-wrap: wrap;
    gap: 10px;
  }

  .icon-link {
    width: 30px;
    height: 30px;
  }
}