.nav-wrapper {
  background-color: #335384; /* Colore di sfondo della navbar */
}

.nav-wrapper ul#nav-desktop {
  text-align: center;
}

.nav-wrapper ul#nav-desktop li a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.nav-wrapper ul#nav-desktop li a:hover {
  color: #ffc107; /* Colore di hover */
}

.sidenav li a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
}

.sidenav li a:hover {
  background-color: #3a8cb7;
}

/* Centra il menu principale */
.nav-wrapper ul#nav-desktop {
  display: flex;
  justify-content: center; /* Centra gli elementi orizzontalmente */
  align-items: center; /* Centra gli elementi verticalmente */
  text-align: center;
  margin: 0 auto; /* Centra il menu nella navbar */
  padding: 0;
}

/* Rendi la sidenav un layout flessibile */
.sidenav {
  background-color: #335384;
  display: flex;
  flex-direction: column; /* Dispone gli elementi in colonna */
  justify-content: space-between; /* Spazio tra gli elementi */
  height: 100vh; /* Altezza completa della viewport */
  padding-bottom: 20px; /* Spaziatura inferiore */
}

/* Posiziona i social link in basso */
.social-links-mobile {
  display: flex; /* Dispone i link in riga */
  justify-content: center; /* Centra i link orizzontalmente */
  align-items: center; /* Centra i link verticalmente */
  gap: 10px; /* Spazio tra i link */
  margin-top: auto; /* Spinge la sezione in basso */
}

.social-links-mobile a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-link {
  width: 40px; /* Dimensione icona */
  height: 40px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
}

.icon-link:hover {
  transform: scale(1.2);
  background-color: #f0f0f0;
}