<div class="hero-section">
  <div class="row page-container">
    <!-- Colonna foto -->
    <div class="col s12 m6 hero-image ">
      <img id="logo" src="../../../assets/images/home/home-photo.webp" alt="Matteo Botturi photo" class="responsive-img">
      
      <div class="carousel carousel-slider">
        <div class="carousel-item">
          <button class="btn-large cta-button" (click)="goToPage('/projects')">Scopri i miei progetti</button>
        </div>
        <div class="carousel-item">
          <button class="btn-large cta-button" (click)="goToPage('/skills')">Visita la sezione Competenze</button>
        </div>
        <div class="carousel-item">
          <button class="btn-large cta-button" (click)="goToPage('/contact')">Contattami per collaborazioni</button>
        </div>
      </div>

    </div>
    <!-- Colonna testo -->
    <div class="col s12 m6 hero-text">
      <h1>Ciao, sono XXX</h1>
      <h3>Développeur Full Stack</h3>
      <p>
        Passionné par le développement web, la création d’interfaces intuitives et les technologies innovantes.
        Toujours prêt à relever de nouveaux défis et à apprendre.
      </p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/XXX/" target="_blank" aria-label="LinkedIn">
          <img src="../../../assets/images/home/linkedin.webp" alt="LinkedIn" class="icon-link">
        </a>
        <a href="https://github.com/XXX/" target="_blank" aria-label="GitHub">
          <img src="../../../assets/images/home/github.webp" alt="GitHub" class="icon-link">
        </a>
      </div>
      
    </div>
  </div>
</div>