.card {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card-image {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-background);
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  text-align: center;
  background-color: #fff;
}

.card-content h5 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.card-content .btn-small {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 16px;
  background-color: --color-primary;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.card-content .btn-small:hover,
.card-content .btn-small:focus {
  background-color: --color-primary-hover;
  transform: scale(1.05);
}

.card-content .btn-small.disabled {
  background-color: #ddd;
  cursor: not-allowed;
  pointer-events: none;
  color: #aaa;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.chips .chip {
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 15px;
  text-transform: capitalize;
  color: #fff;
  display: inline-block;
  margin: 4px;
  background-color: --color-primary;
  transition: background-color 0.3s ease;
}

.chips .chip:hover {
  background-color: --color-primary-hover;
}

.load-more-container {
  text-align: center;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-more-container .btn-small {
  background-color: --color-primary;
  color: white;
  border-radius: 4px;
  padding: 8px 16px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.load-more-container .btn-small:hover {
  background-color: --color-primary-hover;
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .col.s12.m6.l4 {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}

@media (max-width: 768px) {
  .col.s12.m6.l4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card {
    height: auto;
  }

  .chips .chip {
    font-size: 0.8rem;
    padding: 4px 8px;
  }
}