.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: var(--color-background);
}

.not-found-container h1 {
  font-size: 6rem;
  color: var(--color-primary);
  margin: 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.not-found-container p {
  font-size: 1.5rem;
  color: var(--color-text);
  margin: 20px 0;
  line-height: 1.6;
}

.not-found-container .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  color: black;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer; 
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.not-found-container .btn:hover,
.not-found-container .btn:focus {
  background-color: var(--color-secondary-hover);
  color: white;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .not-found-container h1 {
    font-size: 4rem;
  }

  .not-found-container p {
    font-size: 1.2rem;
  }

  .not-found-container .btn {
    font-size: 1rem;
    padding: 10px 20px;
  }
}